div#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  div#app .wrapper {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    padding-top: 12px;
  }
  div#app .card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    width: 220px;
    margin: 12px;
    transition: 0.15s all ease-in-out;
    
  }
  div#app .card:hover {
    transform: scale(1.1);
  }
  div#app .card a {
    text-decoration: none;
    padding: 12px;
    color: #03A9F4;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div#app .card a img {
    height: 100px;
  }
