.form-wrapper {
  width: 1000px;
  box-shadow: 9px 5px 15px 5px #d6d6d6;
  border-radius: 10px;
  height: 95vh;
  padding: 1%;
  margin-top: 20px;
  background-color: white;
}
.form-wrapper .form-card::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-wrapper .form-card {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.form-wrapper .form-card {
  overflow: auto;
  width: 900px;
  height: 70vh;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 40px;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  letter-spacing: -0.4px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  /* font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase; */
}

.form-wrapper .nav-form {
  position: fixed;
  top: 250px;
  z-index: -1;
}

.page-title {
  font-weight: 100;
  margin: 0 0 15px 0;
  font-size: 36px;
  text-align: center;
  font-family: sans-serif;
}
