.form-wrapper {
  width: 1000px;
  box-shadow: 9px 5px 15px 5px #d6d6d6;
  border-radius: 10px;
  height: 95vh;
  align-items: center;
  /* background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%); */
}
/* .form-wrapper .form-card::-webkit-scrollbar {
  display: none;
} */

/* .form-wrapper .form-card {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
.form-wrapper .form-card {
  overflow: auto;
  width: 900px;
  height: 70vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  letter-spacing: -0.4px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
}

.form-wrapper .nav-form {
  position: fixed;
  top: 75px;
}

.page-title {
  font-weight: 100;
  margin: 0 0 15px 0;
  font-size: 36px;
  text-align: center;
  font-family: sans-serif;
}
